.entry {
    display: flex;
    width: 10em;
    align-items: flex-end;
    position: relative; --gap: 1em;
}

.entry > input {
    width: 100%;

    border-radius: 0;
    border-top-left-radius: var(--padding);
}

.entry > button {
    border-radius: 0;
    border-top-right-radius: var(--padding);
}

.entry > select {
    font-size: .8em;
    position: absolute; z-index: 3;
    top: 100%;
    width: 100%;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.heading {
    font-size: var(--button-height-font-size);
    font-weight: normal;
    margin: 0;
}