.entries {

    list-style: none;
    margin: 0; padding: 0;
    display: flex; gap: 1em;
    flex-flow: row wrap;
    margin-left: min(25vw, 8em);
    margin-bottom: min(25vw, 8em);

} .entries li:empty { display: none; }

.entries > li > * {
    font-size: 1em;
}

.entry > * {
    font-size: 1em;
}

.entry {
    display: flex;
    font-size: 1em;
    width: 10em;
    align-items: flex-end;
    position: relative; --gap: 1em;
}

.entry > input {
    width: 100%;
}

.entry > select {
    position: absolute; z-index: 3;
    top: 100%; margin-top: var(--gap);
    
    width: 100%;
}