.view {
    background: linear-gradient(45deg, #cfc204, #795800);
}

.view header {
    display: flex;
    gap: 1em;
    padding: 0 1em;

    color: white;
}

.view footer {

    color: white;
    text-align: center;
    padding: 1em;
    padding-top: 5em;
}


.view button {

    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: underline;

    background: none;
    color: inherit;
}

.view button.active {

    text-decoration: line-through;
}

.cards {

    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.cards li { 
    display: block;
}

.cards li:nth-child(2n) {
    margin-left: 6.4em;
}