.cards {

    display: flex; gap: 10vw;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    --extend-margin: 50vh;
    margin: 5em 0;

    /* should fit at least 2 cards side by side given it is 24em */
    --split-screen-font-size: min(80%, 1.6vw);
}

    .cards li {
        list-style: none;
        position: relative;        
    }

    .cards li:empty {
        display: none;
    }