.cards {

    display: flex;
    flex-flow: column;
    align-items: center;
    
    padding: 0;
    --extend-margin: 50vh;
    margin: 5em 0;

    /* should fit at least 2 cards side by side given it is 24em */
    --split-screen-font-size: min(80%, 1.6vw);

    --gap: 1em;
    gap: var(--gap);
}

    .cards li {
        list-style: none;
        position: relative;        
    }

    .cards li:empty {
        display: none;
    }

.cards[data-layout=extended] li {
    margin-bottom: var(--extend-margin);
    font-size: 80%;
}

.cards[data-layout=quarter] {

    --gap: 1em;
    
    flex-flow: row wrap;
    justify-content: center;

} .cards[data-layout=quarter] li {
    
    font-size: var(--split-screen-font-size);
    flex-basis: calc(50% - 2*var(--gap));
} 
    .cards[data-layout=quarter] li:nth-child(4n + 3), 
    .cards[data-layout=quarter] li:nth-child(4n + 4) { margin-bottom: var(--extend-margin); } 
    
    .cards[data-layout=quarter] li:nth-child(odd) > * { margin-left: auto }
    .cards[data-layout=quarter] li:nth-child(even) > * { margin-right: auto }

.cards[data-layout=grid] {

    --gap: 1em;
    flex-flow: row wrap;
    justify-content: center;

} .cards[data-layout=grid] li {
    
    font-size: calc(var(--split-screen-font-size) * 2 / 3);
} 

.properites {
    margin-bottom: 5em;
}

.dangerzone {
    display: flex;
    gap: 1em;
}

.properites .sounds, .reference {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    --gap: 1em
}

.sounds, .reference {
    padding: 0 var(--gap);
}

.reference {
    margin-top: calc(2 * var(--gap));
}

.link {
    text-align: center;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    width: 8em;
    overflow: hidden;
}

.edit {
    position: absolute;
    right: var(--gap);
}