.card {

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    width: 24em;
    height: 24em;
    box-sizing: border-box;
    position: relative;

    border-radius: 10%;
    padding: 10%;

    flex-shrink: 0;
    margin: 0;

    border: solid;
}

    .card .options {

        position: absolute;
        top: calc(100% + 5pt);
        right: 0;
    }

.points {
    position: absolute;
    right: -1.2em;
    top: -2.4em;
}

.options, .buttons {
    display: flex;
    gap: 1em;
}

.term { 
    
    /* font-size: 2em; */
    max-width: 15em;
    border: none;
}

.def {

    text-align: right;
    resize: vertical;
    margin: 0;

    min-height: 3em;

    border: none;
}

.buttons {
    display: flex;
    gap: 1em;
}