.card {

    font-family: var(--handwritten);

    display: flex;
    flex-flow: column;
    justify-content: center;
    
    box-sizing: border-box;

    --size: 24em;
    width: var(--size);
    height: var(--size);
    box-shadow: var(--illuminated);

    --padding: 2.4em;
    border-radius: 10%;
    padding: var(--padding);

    position: relative;
}

    .card :is(button, a[role=button], [role=button]) {
        padding: var(--padding);
    }

.term { font-size: 2em;}
.term[data-is-long=true] {
    font-size: 1.2em;
}
.term, .def {

    padding: 1em 0;
    width: 100%;
    
    text-align: center;
    border: 0; resize: vertical;
    outline: none;
}

.options {

    display: flex; gap: 1em;

    position: absolute;
    bottom: var(--padding);
    left: var(--padding);
}

.interactions {
    display: flex; gap: 1em;

    position: absolute;
    bottom: var(--padding);
    right: var(--padding);
}

.selection > :is(button, a[role=button], [role=button]) {
    
    display: inline-block;
    width: min-content;
    white-space: nowrap;
    margin: .5em;
}

.selection > :is(button, a[role=button], [role=button])::first-letter { 
    text-transform: none; 
}