.root {

    position: fixed; bottom: 0; z-index: 10;
    backdrop-filter: blur(2pt);

    width: 100%; box-sizing: border-box;
    display: flex; gap: 1em;
    align-items: flex-end;

    overflow-x: visible;
    padding: 0 2em;
}

.left {

    position: absolute; z-index: 10; 
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 1em;
    gap:1em;
}

.right {

    position: absolute; z-index: 10;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto;
    margin-bottom: 2em;
    padding: 1em;
}

.nav {
    text-align: center;
}

.brandname {
    display: block;
    font: 2em var(--handwritten);
    margin-bottom: .5em;
    color: inherit;
}

.popup {
    width: 100%;
    max-width: 48em;
    margin: auto;
    box-shadow: var(--illuminated);

    background-color: var(--background-color);
}