.card {

    display: block;
    width: 16em;
    height: 16em;
    box-sizing: border-box;
    
    padding: 1em;

    border: solid thin;
    border-radius: 1em;
}

.issue { 
    
    font-size: 2em;
    max-width: 15em;
}