.scanner {

    padding: 1em;
    position: relative;

    width: 100%;
}

.camera div > div {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}

.checkpoints {

    position: absolute;
    z-index: 100;
    top: 0;
    
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}