.scanner {

    padding: 1em;
    position: relative;

    width: 100%;
}

.camera {
    
    height: 24em;
    max-width: 100%;
}

.checkpoints {

    position: absolute;
    z-index: 100;
    bottom: 0;
    
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}