.scanner {

    padding: 1em;
    position: relative;
}

.scanner > [id] {
    
    min-height: 66vh;
    max-width: 100%;
    background-color: white;
}

.checkpoint {

    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: thin solid;

    background-color: black;
}

.checkpoint[data-checked="true"] {
    display: inline-block;
    background-color: green;
}

.checkpoints {

    top: 0;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
}