.panel {

    padding: 1em;
    max-width: 48em;
    margin: auto;

    min-height: 100vh;

    display: flex;
    flex-flow: column;
}

.panel .buttons {
    display: flex;
    gap: 1em;
}

.bug {
    color: red;
    opacity: .7;
}