.decks {
    margin: 0;
    padding: 0;
    display: flex; gap: 1em;
    flex-flow: row wrap;
    justify-content: center;

    margin-bottom: 1em;
}

.decks li {
    list-style: none;
}

.title {
    display: flex;
    align-items: baseline;
    gap: 1em;
}


.buttons {
    display: flex; width: 100%;
}

.buttons :is(button, [role=button]) {
    border-radius: 0;
    flex-basis: calc(50% - 1pt);
}

.buttons:first-child :is(button, [role=button]):first-child {
    border-top-left-radius: var(--padding);
}

.buttons:first-child :is(button, [role=button]):last-child {
    border-top-right-radius: var(--padding);
}

.tags {

    box-sizing: border-box;
    width: 100%; padding: 2em 1em;
    display: flex; gap: 1em;
    flex-flow: row wrap;

    font-size: 90%;
    margin-bottom: 8em;
    background-color: var(--primary);
    color: var(--primary-invert)
}

.tag {
    display: flex;
    width: 10em;
    position: relative; --gap: 1em;
}

.tag > input {
    width: 100%;

    border-radius: 0;
    border-top-left-radius: var(--padding);
}

.tag > button {
    border-radius: 0;
    border-top-right-radius: var(--padding);
}

.tag > select {
    font-size: .8em;
    position: absolute; z-index: 3;
    top: 100%;
    width: 100%;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.heading {
    font-size: var(--button-height-font-size);
    font-weight: normal;
    margin: 0;
}

.input {

    border-radius: 0;

    background-color: var(--primary);
    color: var(--primary-invert);
    
    flex-grow: 1;
    white-space: pre;
    overflow-x: auto;
    text-align: left;
    resize: none;
    width: 100%;
}

.scanner {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.camera :is(button) {
    margin: .5em !important;
    max-width: 100% !important;
    width: min-content !important;
}

.camera div > div {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}

.checkpoints {

    position: absolute;
    z-index: 100;
    top: 0;
    
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    opacity: .5;
}