.decks {
    margin: 0;
    padding: 0;
    display: flex; gap: 1em;
    flex-flow: row wrap;
    justify-content: center;
}

.decks li {
    list-style: none;
}

.input {

    border-radius: 0;
    
    height: 12em;
    white-space: pre;
    overflow-x: scroll;
    text-align: left;
    resize: none;
    width: 100%;
}

.buttons {
    display: flex; gap: 2pt;
}

.buttons :is(button, [role=button]) {
    border-radius: 0;
}

.buttons :is(button, [role=button]):first-child {
    flex-basis: calc(50% - 1pt);
    border-top-left-radius: var(--padding);
}

.buttons :is(button, [role=button]):last-child {
    flex-basis: calc(50% - 1pt);
    border-top-right-radius: var(--padding);
}

.tags {

    font-size: .8em;
    margin-bottom: 8em;
}