@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Color+Emoji&display=swap');

:root {

    --background-color: white;

    --illuminated: 0 0 2em -1em;
    --clicked: 0 0 .25em;
    --handwritten:
        'Itim',
        'Noto Color Emoji',
        sans-serif;

    font-family: sans;
}

body {

    font-size: min(1em, 3.2vw);
}

:is(p, h1, h2, h3, h4, h5, h6, button, [role=button])::first-letter { 
    text-transform: uppercase;
}

input, 
textarea,
:is(button, a[role=button], [role=button]),
select {

    --padding: .5em;
    text-align: center;

    font: inherit;
    font-size: 1.2em;

    display: block;
    padding: var(--padding) calc(3.2*var(--padding));
    border: none;
    border-radius: var(--padding);
    box-sizing: border-box;
    width: 100%;
    
    cursor: pointer;
    background: none;
    outline: none;

    color: inherit;
    text-decoration: none;
    transition: background .3s;

    --primary: #f0f0f0;
    --primary-active: #bbbbbb;
    
    --dangerous: #ffd7d7;
    --dangerous-active: #dd4343;
    
    --positive: #a8f8b6;
    --positive-active: #35b61b;
    
    --secondary: #c0c0c0;
    --secondary-active: #6b6b6b;
}

input[type=file] {
    display: none;
}

label {
    white-space: nowrap;
}

input[type=checkbox],
input[type=radio] { 
    display: inline-block; 
    width: min-content; 
}

    input[disabled], 
    textarea[disabled],
    :is(button, a[role=button], [role=button])[disabled],
    select[disabled] {
        pointer-events: none;
        filter: contrast(.5);
    }

    select,
    :is(button, a[role=button], [role=button]) {
        background-color: var(--secondary);
    }

    select:is(:focus, :hover, :active),
    :is(button, a[role=button], [role=button]):is(:focus, :hover, :active) {
        box-shadow: var(--clicked);
    }

    select:is(:active),
    :is(button, a[role=button], [role=button]):active {
        background-color: var(--secondary-active);
    }