.panel {

    position: relative;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-flow: column;
    align-items: center;
}
    .panel .quickaccess ~ :last-child { margin-bottom: 50vh; }
    .panel > :not(.quickaccess) { max-width: 48em; }

.quickaccess {

    display: flex;
    align-items: flex-end;
    gap: 1em;

    width: calc(100vw - 4em);
    max-width: 32em;
    padding: 0 2em;
    
    position: fixed; bottom: 0; z-index: 10;

    white-space: nowrap;
}

    .quickaccess > .faraccess {

        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1em;
    }

    .quickaccess > .thumbaccess {

        display: flex;
        align-items: flex-start;
        gap: 1em;
        margin-left: auto;
        margin-right: 2.4em;
        margin-bottom: 2em;
        padding: 1em;
    }

a {
    color: inherit;
    text-decoration: none;
}

:is(button, a[role=button], [role=button]).removal {
    background-color: var(--dangerous);
}

:is(button, a[role=button], [role=button]).removal:active {
    background-color: var(--dangerous-active);
}

:is(button, a[role=button], [role=button]).secondary {
    background-color: var(--secondary);
}

:is(button, a[role=button], [role=button]).secondary:active {
    background-color: var(--secondary-active);
}

.title {
    font: 2em var(--handwritten);
    text-align: center;
}

.brandname {
    font: 2em var(--handwritten);
    margin: 0;
}