.panel {

    position: relative;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1em;

    display: flex;
    flex-flow: column;
    align-items: center;
}
    .panel .quickaccess ~ :last-child { margin-bottom: 50vh; }
    .panel > :not(.quickaccess) { max-width: 48em; }

.quickaccess {

    display: flex;
    align-items: flex-end;
    gap: 1em;

    overflow-x: auto;
    width: calc(100% - 4em);
    padding: 0 2em;
    
    position: fixed; bottom: 0; z-index: 10;
    backdrop-filter: blur(2pt);

    white-space: nowrap;
}

    .quickaccess .buttonstack {
        font-size: 80%;
        display: flex;
        flex-flow: column;
        gap: 1em;
    }

    .quickaccess > .faraccess {

        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1em;
    }

    .quickaccess > .wideaccess {

        display: flex;
        gap: 1em;
        align-items: center;
        padding: 1em;
    }

    .quickaccess > .thumbaccess {

        display: flex;
        align-items: center;
        gap: 1em;
        margin-left: auto;
        margin-bottom: 2em;
        padding: 1em;
    }

    .quickaccess > .thumbaccess :is(button, a[role=button], [role=button]) {
        padding: calc(2*var(--padding));
        border-radius: 100%;
    }

    .card

a {
    color: inherit;
    text-decoration: none;
}

:is(button, a[role=button], [role=button], select).wrong,
:is(button, a[role=button], [role=button], select).removal {
    background-color: var(--dangerous);
}

:is(button, a[role=button], [role=button], select).correct {
    background-color: var(--positive);
}

:is(button, a[role=button], [role=button], select).removal:active {
    background-color: var(--dangerous-active);
}

:is(button, a[role=button], [role=button], select).primary {
    background-color: var(--primary);
}

:is(button, a[role=button], [role=button], select).primary:active {
    background-color: var(--primary-active);
}

:is(button, a[role=button], [role=button], select).widget {
    background-color: none;
    padding: var(--padding);
    width: min-content;
}

.removed {
    display:none;
}

.title {
    font: 2em var(--handwritten);
    text-align: center;
}

.brandname {
    font: 2em var(--handwritten);
    margin: 0;
}

